.wallet-card{

background:#ffffff;

padding:22px;

border-radius:16px;

box-shadow:0 8px 18px rgba(0,0,0,.08);

display:flex;

flex-direction:column;

gap:25px;

}

.wallet-header{

display:flex;

justify-content:space-between;

align-items:center;

}

.wallet-header p{

font-size:15px;

color:#6b7280;

}

.wallet-header h2{

margin-top:6px;

font-size:32px;

color:#111827;

}

.wallet-icon{

width:60px;

height:60px;

background:#10b981;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:25px;

}

.wallet-info{

display:flex;

justify-content:space-between;

}

.wallet-info span{

font-size:14px;

color:#6b7280;

}

.wallet-info h4{

margin-top:8px;

font-size:18px;

display:flex;

align-items:center;

gap:5px;

color:#10b981;

}

body.dark .wallet-card{

background:#1f2937;

}

body.dark .wallet-header h2{

color:white;

}

body.dark .wallet-info h4{

color:white;

}